form{
    height: vh;
    background-color: hwb();
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
input{
    margin-bottom: 10p;
    margin-top: 20px;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 310px;
}
select{
    margin-bottom: 10p;
    margin-top: 20px;
}